

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Rust
src-tauri/target/

# Tauri generated
src-tauri/gen/

# Node
node_modules/

# Vite build output
src/dist/

# OS
Thumbs.db
.DS_Store

# Streaming server binaries (downloaded at build time)
src-tauri/binaries/
src-tauri/resources/*.exe
src-tauri/resources/server.js

# MPV libraries (downloaded at build time)
src-tauri/mpv-dev/
src-tauri/resources/libmpv-2.dll
src-tauri/resources/libmpv.2.dylib
src-tauri/resources/libmpv.so.2


nul
