[Desktop Entry]
Type=Application
Name=Stremio Lightning
Comment=Lightweight native Stremio shell
Exec=stremio-lightning
Icon=io.github.theguy000.StremioLightning
Categories=AudioVideo;Video;Player;
Terminal=false
StartupNotify=true
StartupWMClass=io.github.theguy000.StremioLightning
